html {
  background-image: url('gml.png');
  background-position: 0px 300px;
  background-color: black;
  background-repeat: no-repeat;
  font-family: fface;
  color: white;
}

a:link, a:active, a:visited { 
  color: white;
}
a:hover {
  color: grey;
}

#video {
  position: absolute;
  width: 640px;
  right: 35%;
}

#gmldiv {
  position: absolute;
  width: 640px;
  left: 65%;
}

#chapterdiv {
  position: absolute;
  width: 640px;
  top: 380px;
  right: 35%;
}
