html {
  background-image: url('gml.png');
  background-position: -45px 400px;
  background-color: black;
  background-repeat: no-repeat;
  font-family: fface;
  color: white;
}

a:link, a:active, a:visited { 
  color: white;
}
a:hover {
  color: grey;
}

#video {
  position: absolute;
  top: 66px;
  right: 50%;
  margin: 5px;
  width: 640px;
  height: 360px;
  border-style:solid;
  border-width:5px;
}

#gmldiv {
  position: absolute;
  top: 8px;
  left: 50%;
  margin: 5px;
  width: 640px;
  height: 660px;
  background-color: black;
  border-style:solid;
  border-width:5px;
}

#chapterdiv {
  position: absolute;
  top: 8px;
  right: 50%;
  margin: 5px;
  width: 640px;
  background-color: black;
  border-style:solid;
  border-width:5px;
  text-align: center;
}

#chapters {
  position: absolute;
  top: 448px;
  right: 50%;
  margin: 5px;
  width: 640px;
  background-color: black;
  border-style:solid;
  border-width:5px;
  text-align: center;
}
